*.txt
/target/
*/bin
/bin
.settings/org.eclipse.core.resources.prefs
﻿/target/
/.settings/
.classpath
.project
*.iml
*.log
*.DS_Store
.#*
*#
*~
*.sublime-*
.gradle/
build/
target/
bin/
dependency-reduced-pom.xml
*.ipr
*.iws
*.idea
.settings/
*/target
*.iml
/.idea
*.class
*.cmd
*.hprof
*.lnk
*.md
*.mvn*
*.myumldata
*.pfx
*.pyc
*.pyo
*.rbc
*.sm2
*.yarb
*~
.git
.hg
.svn
CVS
__pycache__
_svn
mvnw
vssver.scc
vssver2.scc
.checkstyle
